**/*.spec linguist-language=SpecialNodes
**/*.map linguist-language=Maps
src/fileio/gzstream/** linguist-vendored
src/fileio/xml-parser/** linguist-vendored
src/fileio/xml-parser/tinyprint.* -linguist-vendored

*.exs linguist-language=Scenario
*.boes linguist-language=Scenario
*.SAV linguist-detectable linguist-language=Party
*.exg linguist-detectable linguist-language=Party
